.Container {
    border: 2px solid green;
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
}

.resizer {
    border: 2px solid blue;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0;
    position: absolute;
    z-index: 300;
}

.topLeft {
    cursor: e-resize;
    left: -8px;
    top: -8px;
}

.topRight {
    top: -8px;
    right: -8px;
    cursor: e-resize;
}

.bottomLeft {
    bottom: -8px;
    left: -8px;
}

.bottomRight {
    right: -8px;
    bottom: -8px;
}
